html {
  font-size: 10px;
}
.button {
  width: 100%;
  display: inline-block;
  padding: .8rem 0;
  color: #fff;
  text-decoration: none;
  border-radius: 1.5rem;
  background-color: #ffbe23;
  font-size: 2.3rem;
  transition: 0.2s;
}
.button:hover {
  text-decoration: none;
  color: #fff;
  background-color: #efaf15;
}
.nav {
  font-size: 1.8rem;
  background-color: #2cbd00;
  height: 3.2rem;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.nav ul {
  list-style-type: none;
  padding: 0;
  margin-left: 5px;
  margin-right: -7px;
}
.nav ul a {
  color: #fff;
  text-decoration: none;
}
.nav ul a:hover {
  color: #fff;
  text-decoration: none;
}
.nav ul a li {
  border-left: 1px solid #269e01;
  display: inline-block;
  line-height: 3.2rem;
  width: 20%;
  margin-left: -5px;
  text-align: center;
  transition: 0.2s;
}
.nav ul a li:hover {
  background-color: #269e01;
}
.nav-last {
  border-right: 1px solid #269e01;
}
.header {
  background: url(../img/header/bg-header.jpg) bottom repeat-x;
  background-color: #3dcaff;
  padding-bottom: 7rem;
  padding-top: 3.2rem;
}
.header-contain {
  text-align: center;
  margin-top: 5.5rem;
}
.header-contain img {
  width: 100%;
}
.header-contain p {
  color: #fff;
  font-size: 2.2rem;
  margin: 13rem 0 6rem;
}
.header-contain a {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.23);
  text-transform: uppercase;
}
.header-img img {
  display: block;
}
.header-img .clouds {
  width: 90%;
  margin: 2.6rem auto;
}
.header-img .bee {
  margin-top: 10rem;
}
.advantages {
  background-color: #fff;
  padding: 8rem 1rem;
  text-align: center;
}
.advantages h2 {
  color: #2cbd00;
  font-size: 3.5rem;
  margin-bottom: 5rem;
}
.advantages-slider img {
  margin: 0 auto;
  width: 50%;
}
.advantages-slider p {
  font-size: 1.9rem;
  margin-top: 1.5rem;
  color: #1e6506;
}
.advantages-slider-block {
  width: 100%;
}
.prices {
  background-color: #2cbd00;
  padding: 8rem 1rem;
  text-align: center;
}
.prices h2 {
  color: #fff;
  font-size: 3.5rem;
  margin-bottom: 5rem;
}
.prices img {
  width: 100%;
}
.prices-block {
  background-color: #fff;
  padding: 3rem 3rem;
  text-align: center;
  box-sizing: border-box;
  border-radius: 0.7rem;
}
.prices-block h3 {
  margin-top: 1.5rem;
  font-size: 2.4rem;
}
.prices-block .mass {
  font-size: 1.7rem;
}
.prices-block .price {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.prices-block a {
  border-radius: .7rem;
  font-size: 1.8rem;
}
.about-us {
  background-color: #fff;
  padding: 8rem 1rem;
  text-align: center;
}
.about-us h2 {
  color: #2cbd00;
  font-size: 3.5rem;
  margin-bottom: 5rem;
}
.about-us-slider {
  width: 100%;
}
.about-us-slider img {
  width: 100%;
}
.about-us-slider .prev {
  width: 6.8rem;
  height: 6.8rem;
  position: absolute;
  z-index: 99;
  border: none;
  top: 50%;
  transform: translateY(-50%);
}
.about-us-slider .prev-prev {
  left: -8rem;
  background: url(../img/about_us/arr_left.png) center no-repeat;
  background-size: 100%;
}
.about-us-slider .prev-next {
  right: -8rem;
  background: url(../img/about_us/arr_right.png) center no-repeat;
  background-size: 100%;
}
.about-us-description p {
  font-size: 1.8rem;
  text-align: left;
}
.contacts {
  background-color: #f9f9f9;
  padding: 8rem 1rem;
  text-align: center;
}
.contacts h2 {
  color: #2cbd00;
  font-size: 3.5rem;
  margin-bottom: 5rem;
}
.contacts-description {
  text-align: left;
}
.contacts h3 {
  font-size: 2.1rem;
  margin-top: 3rem;
}
.contacts p,
.contacts a {
  font-size: 1.6rem;
  margin-left: 1rem;
  margin-top: 1.4rem;
}
.contacts a {
  color: #000;
  text-decoration: none;
}
.order {
  background-color: #fff;
  padding: 8rem 1rem;
  text-align: center;
}
.order h2 {
  color: #000;
  font-size: 3.5rem;
  margin-bottom: 5rem;
}
.order p {
  font-size: 2.1rem;
}
.order-description {
  margin-top: 10rem;
}
.order-form {
  border: 2px solid #2cbd00;
  border-radius: 1.5rem;
  padding: 3rem;
  background-color: #fafffa;
}
.order-form p {
  text-align: left;
  margin: 0;
  margin-left: 1rem;
}
.order-form input {
  border: 2px solid #2cbd00;
  border-radius: 1.3rem;
  background-color: #fff;
  font-size: 1.8rem;
  padding: .8rem;
  width: 100%;
}
.order-form input {
  margin-bottom: 3rem;
}
.order-form button {
  border: none;
}
.footer {
  background-color: #a1a1a1;
  margin: 0;
  padding: 2rem;
}
.footer p {
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 1.4rem;
}
@media (max-width: 1199px) {
  .header {
    padding-bottom: 10rem;
  }
  .about-us-slider .prev {
    width: 6rem;
    height: 6rem;
  }
  .about-us-slider .prev-prev {
    left: -7rem;
  }
  .about-us-slider .prev-next {
    right: -7rem;
  }
  .about-us-description p {
    font-size: 1.6rem;
  }
}
@media (max-width: 991px) {
  .nav {
    position: initial;
    height: auto;
    transition: 0.3s;
  }
  .nav ul {
    margin: 0;
    padding: 0;
  }
  .nav ul a {
    font-size: 2.5rem;
  }
  .nav ul a li {
    width: 100%;
    margin: 0;
    padding: 2rem 0;
    border: 1px solid #269e01;
    border-bottom: none;
  }
  .header {
    padding-top: 0;
    transition: 0.3s;
  }
  .header-contain .menu {
    background: url(../img/header/menu.png) center no-repeat;
    background-size: 100%;
    width: 5rem;
    height: 5rem;
    display: inline-block;
  }
  .header p {
    font-size: 3rem;
    margin-top: 8rem;
  }
  .header-img {
    display: none;
    padding-bottom: 15rem;
  }
  .prices h2 {
    margin: 0;
  }
  .prices-block {
    margin-top: 5rem;
  }
  .contacts-description h2 {
    text-align: center;
  }
  .contacts .map {
    margin-top: 5rem;
  }
  .about-us-description {
    margin-top: 3rem;
  }
  .order-description {
    margin: 5rem 0;
  }
}
@media (max-width: 430px) {
  .header-contain .menu {
    width: 4rem;
    height: 4rem;
  }
  .header-contain p {
    font-size: 2.5rem;
  }
}
@media (max-width: 330px) {
  .header-contain .menu {
    width: 3rem;
    height: 3rem;
  }
  .header-contain p {
    font-size: 2rem;
  }
}
