html {
  font-size: 10px;
}
.button {
  width: 100%;
  display: inline-block;
  padding: .8rem 0;
  color: #fff;
  text-decoration: none;
  border-radius: 1.5rem;
  background-color: #977015;
  font-size: 2.3rem;
  transition: 0.2s;
  margin-top: -7rem;
  font-family: Century Gothic;
}
.button:hover {
  text-decoration: none;
  color: #977015;
  background-color: #fff;
}

.nav {
  font-size: 2.4rem;
  background-color: #ffb832;
  height: 6rem;
  position: fixed;
  width: 100%;
  z-index: 20;
  font-family: Monotype Corsiva;
}
.nav img{
  width: 19.7%;
  height: 5.8rem;
  display: inline-block;
}
.nav ul {
  list-style-type: none;
  padding: 0;
  margin-left: 5px;
  margin-right: -7px;
}
.nav ul a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.nav ul a:hover {
  color: #fff;
  text-decoration: none;
}
.nav ul a li {
  border-left: 1px solid #ffffff;
  display: inline-block;
  line-height: 6rem;
  width: 20%;
  margin-left: -5px;
  text-align: center;
  transition: 0.2s;
}
.nav ul a li:hover {
  background-color: #725512;
  width: 20%;
  
}
.nav-last {
  border-right: 1px solid #ffffff;
}


.header {
  background: url(../img/fonovoe.jpg)  repeat-x;
  background-size: cover;
  height: 70rem;
  
}
.header .obshee{
  font-size: 7.2rem;
  font-family: Monotype Corsiva;
  color: rgb(0, 0, 0);
  float: right;
    text-align: center;
}
.header .opisу{
  margin-top: 7rem;
}
.header .opis{
 margin-top: 2rem;
}
.header-contain {
  text-align: center;
  margin-top: 5.5rem;
}

.about-us {
  background-color: #fff;
  padding: 8rem 1rem;
  text-align: center;
  font-family: Century Gothic;
}
.about-us .onas{
  background-color: #ffb832;
  border-radius: 1.5rem;
  padding: 0.5rem;
  margin-top: 5rem;
  margin-left: 9rem;
  height: auto;
  width: 35rem;
  font-size: 1.8rem;
  text-align: center;
}
.about-us h1 {
  color: #ffb832;
  font-size: 6rem;
  margin: 5rem 0rem;
}
.about-us-slider {
  margin-top: 5rem;
  width: 100%;
  slidesToShow: 3;
  slidesToScroll:3;
}
.about-us-slider img {
  width: 100%;
}
.about-us-slider .prev {
  width: 6.8rem;
  height: 6.8rem;
  position: absolute;
  z-index: 99;
  border: none;
  top: 50%;
  transform: translateY(-50%);
}
.about-us-slider .prev-prev {
  left: -8rem;
  background: url(../img/cnopka.png) center no-repeat;
  background-size: 100%;
}
.about-us-slider .prev-next {
  right: -8rem;
  background: url(../img/cnopka1.png) center no-repeat;
  background-size: 100%;
}





.advantages {
  background-color: #ffb832;
  color: #fff;
  padding: 8rem 1rem;
  text-align: center;
  font-family: Century Gothic;
}
.advantages h1 {
  color: #fff;
  font-size: 6rem;
  margin: 5rem 0rem;
}
.advantages-slider img {
  margin: 0 auto;
  width: 50%;
}
.advantages .zaglav{
  font-size: 4rem;
}
.advantages .crug{
  border-radius: 360px;
}
.advantages-slider p {
  font-size: 1.9rem;
  margin-top: 1.5rem;
  margin-left: 1rem;
  color: #fff;
}
.advantages-slider-block {
  width: 100%;
}



.prices {
  background-color: #ffffff;
  padding: 8rem 1rem;
  text-align: center;
  font-family: Century Gothic;
}
.prices h1 {
  color: #ffb832;
  font-size: 6rem;
  margin: 5rem 0rem;
}
.prices img {
  width: 100%;
  border-radius: 1.5rem;
}
.prices-block {
  background-color: #ffb832;
  padding: 3rem 3rem;
  text-align: center;
  box-sizing: border-box;
  border-radius: 0.7rem;
  margin-top: 3rem;
}
.prices-block h3 {
  margin-top: 1.5rem;
  font-size: 2.4rem;
}
.prices-block .mass {
  font-size: 1.7rem;
}
.prices-block .price {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.prices-block a {
  border-radius: .7rem;
  font-size: 1.8rem;
}
.prices-block-slider {
  margin-top: 5rem;
  width: 100%;
  slidesToShow: 3;
  slidesToScroll:3;
}
.prices-block-slider img {
  width: 100%;
}
.prices-block-slider .prev {
  width: 6.8rem;
  height: 6.8rem;
  position: absolute;
  z-index: 99;
  border: none;
  top: 50%;
  transform: translateY(-50%);
}
.prices-block-slider .prev-prev {
  left: -8rem;
  background: url(../img/cnopka.png) center no-repeat;
  background-size: 100%;
}
.prices-block-slider .prev-next {
  right: -8rem;
  background: url(../img/cnopka1.png) center no-repeat;
  background-size: 100%;
}


.order {
  background-color: rgb(218, 216, 216);
  padding: 8rem 1rem;
  text-align: center;
  border-top: 4px solid #ffb832;
}
.order h1 {
  color: #000000;
  font-size: 6rem;
  margin: 5rem 0rem;
}
.order p {
  font-size: 2.1rem;
}
.order-description {
  margin: 5rem 0rem;
}
.order-form {
  border: 2px solid #ffb832;
  border-radius: 1.5rem;
  padding: 3rem;
  background-color: #ffff;
  margin-top: 5rem;
}
.order-form p{
  text-align: left;
  
  
}
.order-form input {
  border: 2px solid #ffb832;
  border-radius: 1.3rem;
  background-color: #fff;
  font-size: 1.8rem;
  padding: .8rem;
  
  width: 100%;
}
.order-form input {
  margin-bottom: 3rem;
}
.order-form button {
  border: none;
}

.footer {
  background-color: #a1a1a1;
  margin: 0;
  padding: 2rem;
}
.footer p {
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 1.4rem;
}
@media (max-width:767px){
  .header{
    padding-top:0;
    transition:.3s;
    height: auto;
  }
  .header-contain .menu{
    background:url(../img/menu.png) center no-repeat;
    background-size:100%;
    width:5rem;
    height:5rem;
    display:inline-block;
    position: right;
    margin: 2rem auto;
  }
  .header p{
    font-size:3rem;
    margin-top:8rem;
  }
  .header-img{
    display:none;
    height: auto;
  }
  .header .obshee{
    width:100%;
    background-color: #ffb832;
    padding: 1rem;    
    font-size: 4;
    font-family: Monotype Corsiva;
    color: rgb(0, 0, 0);
    float: center;
    text-align: center;
    margin-top: 1rem;
    border-radius: 1.5rem;

  }
  .header .opisу{
    margin: 0rem 5rem;
    font-size: 4rem;
  }
  .header .opis{
    margin-top: -1rem;
    font-size: 4rem;
   }
  .header-contain {
    text-align: center;
    margin-top: -1rem;
  }
  .advantages h1{
    font-size: 1.5rem;
  } 
  .prices h1{
    
    font-size: 3.5rem;
  }
  .contacts h1{
    font-size: 3.5rem;
  }
  .about-us h1{
    font-size: 1.5rem;  
 }
 .order h1{
  font-size: 3.5rem;
}
}

@media (max-width:991px){
  .nav{
    position:initial;
    height:auto;
    transition:.3s;
    margin:0;  
    width: 100%;
  }
  .nav ul{
    margin:0;
    padding:0
  }
  .nav ul a{
    font-size:2.5rem
  }
  .nav ul a li{
    width:100%;
    margin:0;
    padding:2rem 0;
    border:none;
    border-bottom:none
  }
  .nav img{
    float: center;
    width: 90%;  
  }
  .nav ul a li:hover {
    background-color: #725512;
    width: 100%;
    
  }

  .header{
    padding-top:0;
    transition:.3s;
    height: auto;
  }
  .header-contain .menu{
    background:url(../img/menu.png) center no-repeat;
    background-size:100%;
    width:5rem;
    height:5rem;
    display:inline-block;
    position: right;
    margin-top: 2rem;
  }
  .header p{
    font-size:3rem;
    margin-top:8rem;
  }
  .header-img{
    display:none;
    height: auto;
  }
  .header .obshee{
    background-color: #ffb832;
    padding: 1rem;    
    font-size: 4;
    font-family: Monotype Corsiva;
    color: rgb(0, 0, 0);
    float: center;
    text-align: center;
    margin-top: 1rem ;
    
    border-radius: 1.5rem;
  }
  .header .opisу{
    margin-top: 0rem;
    font-size: 4rem;
  }
  .header .opis{
    margin-top: -1rem;
    font-size: 4rem;
   }
  
  .header-contain {
    text-align: center;
    margin: 0.1rem 2rem;
  }
  
  .advantages h1{
    font-size: 4.5rem;
  } 

  .prices {
    padding: 2rem 1rem; 
  }
  .prices h1{
    margin: 2rem 0rem;
    font-size: 4.5rem;
  }
  .prices h2{
    margin:0;
  }
  .prices-block {
    margin-top: 0;
  }

  .contacts h1{
    font-size: 4.5rem;
  }
  .contacts-description h2{
    text-align:center;
  }
  .contacts .map{
    margin-top:5rem;
  }

  .about-us{
    padding: 4rem auto;
  }
  .about-us h1{
     font-size: 4.5rem;  
  }
  .about-us-description{
    margin-top:3rem;
  }
  .about-us-slider{  
    background: none;
    background-size: 100%;
    
  }
  .about-us .onas{
  background-color: #ffb832;
  border-radius: 1.5rem;
  padding: 0.5rem;
  margin-top: 5rem;
  margin-left: 0rem;
  width: 100%;
  font-size: 1.8rem;
  text-align: center;
  }

  .order-description{
    margin:5rem 0;
  }
  .order h1{
    font-size: 4.5rem;
  }
}   
